<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.eb.onebandhan">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".basic.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".dashboard.activity.EditProfileActivity"></activity>
        <activity android:name=".notification.activity.NotificationListingActivity" />
        <activity android:name=".bankDetail.activity.AddBankDetailActivity" />
        <activity android:name=".service.AddServiceActivity" />
        <activity android:name=".product.AddProductActivity" />
        <activity android:name=".dashboard.activity.MyProfileActivity" />

        <activity
            android:name=".dashboard.activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.activity.ThankYouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.activity.SignUpDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.activity.OtpVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.activity.SignUpInitialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.activity.SelectLanguageActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".product.DialogActivity"
            android:theme="@style/TransparentBackground" />

        <!-- Image croping activity-->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionbar"/>



    </application>

</manifest>